# Examples and Exercises from Think Stats, 2nd Edition

http://thinkstats2.com

Copyright 2016 Allen B. Downey

MIT License: https://opensource.org/licenses/MIT

In [4]:
from __future__ import print_function, division

import nsfg

## Examples from Chapter 1

Read NSFG data into a Pandas DataFrame.

In [5]:
preg = nsfg.ReadFemPreg()
preg.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875

Print the column names.

In [6]:
preg.columns

Index([         u'caseid',        u'pregordr',       u'howpreg_n',
             u'howpreg_p',        u'moscurrp',        u'nowprgdk',
              u'pregend1',        u'pregend2',        u'nbrnaliv',
              u'multbrth',
       ...
            u'laborfor_i',      u'religion_i',         u'metro_i',
               u'basewgt', u'adj_mod_basewgt',        u'finalwgt',
                u'secu_p',            u'sest',         u'cmintvw',
           u'totalwgt_lb'],
      dtype='object', length=244)

Select a single column name.

In [7]:
preg.columns[1]

u'pregordr'

Select a column and check what type it is.

In [8]:
pregordr = preg['pregordr']
type(pregordr)

pandas.core.series.Series

Print a column.

In [9]:
pregordr

0        1
1        2
2        1
3        2
4        3
5        1
6        2
7        3
8        1
9        2
10       1
11       1
12       2
13       3
14       1
15       2
16       3
17       1
18       2
19       1
20       2
21       1
22       2
23       1
24       2
25       3
26       1
27       1
28       2
29       3
        ..
13563    2
13564    3
13565    1
13566    1
13567    1
13568    2
13569    1
13570    2
13571    3
13572    4
13573    1
13574    2
13575    1
13576    1
13577    2
13578    1
13579    2
13580    1
13581    2
13582    3
13583    1
13584    2
13585    1
13586    2
13587    3
13588    1
13589    2
13590    3
13591    4
13592    5
Name: pregordr, Length: 13593, dtype: int64

Select a single element from a column.

In [10]:
pregordr[0]

1

Select a slice from a column.

In [11]:
pregordr[2:10:2]  # Start-End-Step_Size

2    1
4    3
6    2
8    1
Name: pregordr, dtype: int64

Select a column using dot notation.

In [12]:
pregordr = preg.pregordr

Count the number of times each value occurs.

In [13]:
preg.outcome.value_counts().sort_index()

1    9148
2    1862
3     120
4    1921
5     190
6     352
Name: outcome, dtype: int64

Check the values of another variable.

In [14]:
preg.birthwgt_lb.value_counts().sort_index()

0.0        8
1.0       40
2.0       53
3.0       98
4.0      229
5.0      697
6.0     2223
7.0     3049
8.0     1889
9.0      623
10.0     132
11.0      26
12.0      10
13.0       3
14.0       3
15.0       1
Name: birthwgt_lb, dtype: int64

Make a dictionary that maps from each respondent's `caseid` to a list of indices into the pregnancy `DataFrame`.  Use it to select the pregnancy outcomes for a single respondent.

In [15]:
caseid = 10229
preg_map = nsfg.MakePregMap(preg)
indices = preg_map[caseid]
preg.outcome[indices].values

array([4, 4, 4, 4, 4, 4, 1], dtype=int64)

## Exercises

Select the `birthord` column, print the value counts, and compare to results published in the [codebook](http://www.icpsr.umich.edu/nsfg6/Controller?displayPage=labelDetails&fileCode=PREG&section=A&subSec=8016&srtLabel=611933)

In [16]:
# Solution goes here
count = preg.birthord.value_counts(sort=True)
count.sum()

9148L

We can also use `isnull` to count the number of nans.

In [17]:
preg.birthord.isnull().sum()# Point to be noted!
preg.birthord.notnull().sum()

9148

Select the `prglngth` column, print the value counts, and compare to results published in the [codebook](http://www.icpsr.umich.edu/nsfg6/Controller?displayPage=labelDetails&fileCode=PREG&section=A&subSec=8016&srtLabel=611931)

In [40]:
# Solution goes here
preg.prglngth.value_counts(sort = True)

39    4744
40    1120
38     609
9      594
41     591
6      543
37     457
13     446
4      412
8      409
35     357
36     329
42     328
17     253
11     202
30     198
5      181
7      175
12     170
3      151
43     148
22     147
10     137
32     122
26     117
2       78
34      60
33      50
44      46
16      44
15      39
28      38
21      37
19      34
24      31
31      29
14      29
29      23
20      18
18      17
0       15
25      15
23      12
45      10
1        9
27       8
48       7
50       2
46       1
47       1
Name: prglngth, dtype: int64

In [41]:
# A dict with preglngth as keys and a list of caseids with that particular preglngth as values
from collections import defaultdict
d = defaultdict(list)
for i, preglngth in preg.prglngth.iteritems():
    d[preglngth].append(i)
d[39]

[0,
 1,
 2,
 3,
 4,
 8,
 10,
 11,
 17,
 20,
 21,
 23,
 24,
 25,
 26,
 33,
 34,
 35,
 39,
 44,
 47,
 48,
 49,
 52,
 54,
 62,
 65,
 67,
 70,
 71,
 72,
 74,
 75,
 76,
 77,
 78,
 79,
 82,
 83,
 87,
 88,
 89,
 90,
 91,
 92,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 104,
 105,
 106,
 108,
 113,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 124,
 126,
 127,
 129,
 140,
 142,
 143,
 148,
 155,
 159,
 163,
 166,
 167,
 170,
 171,
 172,
 174,
 176,
 187,
 188,
 190,
 191,
 204,
 205,
 207,
 208,
 209,
 212,
 214,
 215,
 216,
 220,
 222,
 239,
 240,
 246,
 251,
 252,
 261,
 262,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 286,
 287,
 288,
 289,
 290,
 299,
 305,
 306,
 311,
 324,
 325,
 326,
 327,
 329,
 336,
 338,
 343,
 346,
 349,
 350,
 351,
 352,
 353,
 354,
 356,
 359,
 360,
 361,
 363,
 368,
 369,
 370,
 371,
 374,
 375,
 381,
 382,
 383,
 384,
 385,
 389,
 392,
 393,
 395,
 399,
 411,
 413,
 416,
 421,
 423,
 428,
 429,
 433,
 435,
 436,
 437,
 439,
 440,
 441,
 443,
 444,
 447,
 448,
 451,
 455,
 463,
 464,
 466,
 468,
 471,
 489,
 496,
 498,
 499,
 500,
 501,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 515,
 517,
 518,
 525,
 530,
 536,
 543,
 546,
 548,
 550,
 551,
 552,
 559,
 562,
 563,
 564,
 565,
 567,
 573,
 579,
 580,
 582,
 584,
 591,
 592,
 594,
 595,
 599,
 601,
 609,
 614,
 616,
 626,
 627,
 630,
 631,
 633,
 634,
 635,
 636,
 641,
 644,
 647,
 648,
 649,
 650,
 651,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 668,
 671,
 672,
 673,
 674,
 676,
 677,
 680,
 683,
 684,
 685,
 687,
 688,
 693,
 694,
 695,
 703,
 706,
 707,
 708,
 709,
 710,
 713,
 716,
 726,
 730,
 731,
 732,
 741,
 742,
 743,
 745,
 746,
 747,
 755,
 756,
 757,
 760,
 761,
 762,
 763,
 772,
 776,
 778,
 779,
 780,
 782,
 792,
 793,
 794,
 795,
 796,
 802,
 804,
 805,
 807,
 813,
 816,
 817,
 819,
 822,
 828,
 829,
 830,
 832,
 833,
 835,
 842,
 845,
 854,
 855,
 861,
 864,
 866,
 867,
 868,
 870,
 871,
 873,
 877,
 878,
 879,
 880,
 889,
 893,
 894,
 895,
 897,
 900,
 901,
 902,
 903,
 917,
 924,
 931,
 932,
 933,
 934,
 935,
 944,
 945,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 960,
 961,
 962,
 969,
 970,
 971,
 972,
 973,
 978,
 979,
 981,
 984,
 985,
 987,
 989,
 990,
 991,
 992,
 1000,
 1002,
 1006,
 1007,
 1009,
 1016,
 1021,
 1024,
 1025,
 1027,
 1028,
 1029,
 1031,
 1035,
 1036,
 1037,
 1045,
 1046,
 1050,
 1056,
 1067,
 1068,
 1070,
 1077,
 1078,
 1079,
 1082,
 1083,
 1094,
 1096,
 1103,
 1104,
 1105,
 1112,
 1113,
 1118,
 1121,
 1122,
 1125,
 1127,
 1129,
 1130,
 1131,
 1133,
 1134,
 1139,
 1144,
 1145,
 1147,
 1148,
 1149,
 1151,
 1152,
 1160,
 1163,
 1166,
 1167,
 1168,
 1178,
 1179,
 1186,
 1187,
 1188,
 1192,
 1209,
 1210,
 1212,
 1213,
 1214,
 1215,
 1217,
 1222,
 1226,
 1228,
 1229,
 1236,
 1237,
 1240,
 1244,
 1245,
 1246,
 1247,
 1256,
 1257,
 1258,
 1267,
 1268,
 1269,
 1271,
 1276,
 1277,
 1279,
 1289,
 1290,
 1291,
 1293,
 1294,
 1295,
 1296,
 1298,
 1302,
 1307,
 1311,
 1320,
 1321,
 1330,
 1333,
 1350,
 1352,
 1353,
 1354,
 1355,
 1365,
 1366,
 1367,
 1368,
 1372,
 1373,
 1379,
 1380,
 1393,
 1395,
 1400,
 1401,
 1404,
 1405,
 1419,
 1428,
 1429,
 1431,
 1436,
 1437,
 1439,
 1440,
 1441,
 1443,
 1446,
 1447,
 1462,
 1467,
 1469,
 1473,
 1475,
 1485,
 1486,
 1488,
 1489,
 1490,
 1492,
 1494,
 1495,
 1496,
 1500,
 1501,
 1502,
 1503,
 1504,
 1505,
 1507,
 1509,
 1511,
 1513,
 1515,
 1516,
 1518,
 1519,
 1520,
 1521,
 1522,
 1523,
 1524,
 1527,
 1532,
 1534,
 1543,
 1544,
 1553,
 1554,
 1555,
 1556,
 1563,
 1565,
 1566,
 1568,
 1569,
 1570,
 1572,
 1573,
 1576,
 1577,
 1578,
 1579,
 1580,
 1594,
 1595,
 1596,
 1597,
 1598,
 1599,
 1600,
 1605,
 1609,
 1610,
 1617,
 1618,
 1619,
 1620,
 1621,
 1622,
 1623,
 1624,
 1625,
 1626,
 1627,
 1628,
 1629,
 1632,
 1633,
 1635,
 1637,
 1639,
 1640,
 1641,
 1645,
 1648,
 1660,
 1666,
 1668,
 1672,
 1673,
 1674,
 1675,
 1676,
 1677,
 1680,
 1688,
 1689,
 1695,
 1696,
 1701,
 1703,
 1709,
 1710,
 1711,
 1712,
 1716,
 1724,
 1725,
 1728,
 1731,
 1733,
 1734,
 1740,
 1741,
 1742,
 1743,
 1744,
 1745,
 1746,
 1747,
 1748,
 1751,
 1757,
 1758,
 1764,
 1769,
 1770,
 1771,
 1780,
 1795,
 1796,
 1797,
 1798,
 1801,
 1802,
 1803,
 1804,
 1805,
 1806,
 1807,
 1808,
 1809,
 1810,
 1818,
 1821,
 1822,
 1823,
 1827,
 1829,
 1831,
 1833,
 1834,
 1842,
 1847,
 1849,
 1851,
 1852,
 1853,
 1855,
 1867,
 1868,
 1879,
 1888,
 1890,
 1894,
 1895,
 1896,
 1897,
 1898,
 1899,
 1904,
 1905,
 1906,
 1909,
 1911,
 1912,
 1913,
 1914,
 1915,
 1916,
 1918,
 1932,
 1933,
 1934,
 1939,
 1945,
 1950,
 1951,
 1952,
 1953,
 1959,
 1961,
 1969,
 1970,
 1971,
 1972,
 1974,
 1977,
 1979,
 1980,
 1988,
 1990,
 1992,
 1997,
 1998,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2013,
 2015,
 2016,
 2017,
 2018,
 2021,
 2022,
 2024,
 2025,
 2026,
 2027,
 2033,
 2036,
 2037,
 2041,
 2055,
 2062,
 2063,
 2067,
 2068,
 2069,
 2070,
 2075,
 2076,
 2077,
 2078,
 2084,
 2087,
 2092,
 2093,
 2098,
 2105,
 2106,
 2107,
 2108,
 2110,
 2113,
 2114,
 2115,
 2120,
 2122,
 2123,
 2126,
 2129,
 2134,
 2149,
 2150,
 2154,
 2158,
 2159,
 2160,
 2162,
 2168,
 2170,
 2173,
 2178,
 2180,
 2183,
 2185,
 2186,
 2187,
 2188,
 2194,
 2196,
 2197,
 2198,
 2202,
 2206,
 2207,
 2208,
 2209,
 2215,
 2216,
 2227,
 2228,
 2229,
 2230,
 2232,
 2233,
 2234,
 2237,
 2239,
 2243,
 2252,
 2253,
 2254,
 2258,
 2260,
 2261,
 2266,
 2267,
 2268,
 2269,
 2273,
 2274,
 2282,
 2283,
 2288,
 2289,
 2290,
 2292,
 2298,
 2314,
 2319,
 2320,
 2327,
 2328,
 2329,
 2330,
 2331,
 2332,
 2333,
 2334,
 2338,
 2343,
 2346,
 2349,
 2353,
 2354,
 2355,
 2361,
 2362,
 2363,
 2366,
 2367,
 2369,
 2370,
 2371,
 2378,
 2381,
 2382,
 2405,
 2409,
 2410,
 2432,
 2439,
 2443,
 2444,
 2446,
 2460,
 2463,
 2465,
 2468,
 2472,
 2473,
 2474,
 2476,
 2485,
 2487,
 2489,
 2490,
 2493,
 2495,
 2497,
 2504,
 2505,
 2506,
 2507,
 2508,
 2509,
 2510,
 2511,
 2512,
 2513,
 2521,
 2527,
 2533,
 2535,
 2536,
 2537,
 2538,
 2547,
 2548,
 2549,
 2550,
 2552,
 2555,
 2556,
 2557,
 2558,
 2559,
 2566,
 2567,
 2579,
 2580,
 2581,
 2582,
 2584,
 2590,
 2591,
 2592,
 2595,
 2596,
 2597,
 2598,
 2599,
 2600,
 2601,
 2604,
 2605,
 2608,
 2617,
 2626,
 2633,
 2637,
 2638,
 2653,
 2654,
 2656,
 2657,
 2658,
 2664,
 2665,
 2672,
 2673,
 2680,
 2681,
 2686,
 2687,
 2688,
 2689,
 2690,
 2693,
 2696,
 2698,
 2699,
 2700,
 2701,
 2702,
 2709,
 2710,
 2719,
 2720,
 2723,
 2730,
 2733,
 2734,
 2737,
 2738,
 2740,
 2749,
 2754,
 2757,
 2758,
 2759,
 2760,
 2761,
 2764,
 2765,
 2771,
 2772,
 2776,
 2777,
 2778,
 2779,
 2787,
 2788,
 2789,
 2790,
 2792,
 2797,
 2798,
 ...]

In [19]:
preg.loc[preg.caseid>200,'prglngth']

177      13
178      41
179      13
180      40
181      40
182      42
183       3
184      42
185      40
186      40
187      39
188      39
189      19
190      39
191      39
192      26
193      41
194       6
195       6
196       6
197       5
198       6
199       6
200       6
201       6
202       4
203       3
204      39
205      39
206      40
         ..
13563    40
13564    39
13565    41
13566    40
13567     9
13568     9
13569    38
13570    39
13571    39
13572    39
13573    39
13574    39
13575     3
13576    39
13577    35
13578    39
13579    39
13580    11
13581    39
13582     3
13583    17
13584    34
13585     9
13586     9
13587     9
13588    39
13589     6
13590     5
13591    39
13592    39
Name: prglngth, Length: 13416, dtype: int64

To compute the mean of a column, you can invoke the `mean` method on a Series.  For example, here is the mean birthweight in pounds:

In [20]:
preg.totalwgt_lb.mean()

7.265628457623368

Create a new column named <tt>totalwgt_kg</tt> that contains birth weight in kilograms.  Compute its mean.  Remember that when you create a new column, you have to use dictionary syntax, not dot notation.

In [21]:
# Solution goes here
#for i in preg.totalwgt_lb:
preg['totalwgt_kg'] = preg.totalwgt_lb*0.45
preg.totalwgt_kg.mean()

3.2695328059304902

`nsfg.py` also provides `ReadFemResp`, which reads the female respondents file and returns a `DataFrame`:

In [22]:
resp = nsfg.ReadFemResp()

`DataFrame` provides a method `head` that displays the first five rows:

In [23]:
resp.head()

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
0,2298,1,5,5,1,5.0,27,27,902,27,...,0,3247.916977,5123.759559,5556.717241,2,18,1234,1222,18:26:36,110.492667
1,5012,1,5,1,5,5.0,42,42,718,42,...,0,2335.279149,2846.799490,4744.191350,2,18,1233,1221,16:30:59,64.294000
2,11586,1,5,1,5,5.0,43,43,708,43,...,0,2335.279149,2846.799490,4744.191350,2,18,1234,1222,18:19:09,75.149167
3,6794,5,5,4,1,5.0,15,15,1042,15,...,0,3783.152221,5071.464231,5923.977368,2,18,1234,1222,15:54:43,28.642833
4,616,1,5,4,1,5.0,20,20,991,20,...,0,5341.329968,6437.335772,7229.128072,2,18,1233,1221,14:19:44,69.502667

Select the `age_r` column from `resp` and print the value counts.  How old are the youngest and oldest respondents?

In [38]:
# Solution goes here
print('youngest {}'.format(resp.age_r.min()))
print('oldest {}'.format(resp.age_r.max()))
resp.age_r.value_counts(sort=True)

youngest 15
oldest 44

30    292
22    287
23    282
31    278
32    273
37    271
24    269
21    267
25    267
36    266
35    262
29    262
26    260
20    258
33    257
38    256
40    256
34    255
27    255
43    253
28    252
41    250
19    241
44    235
18    235
17    234
16    223
15    217
39    215
42    215
Name: age_r, dtype: int64

We can use the `caseid` to match up rows from `resp` and `preg`.  For example, we can select the row from `resp` for `caseid` 2298 like this:

In [39]:
resp[resp.caseid==2298]

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
0,2298,1,5,5,1,5.0,27,27,902,27,...,0,3247.916977,5123.759559,5556.717241,2,18,1234,1222,18:26:36,110.492667

And we can get the corresponding rows from `preg` like this:

In [26]:
preg[preg.caseid==2298]

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb,totalwgt_kg
2610,2298,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,3247.916977,5123.759559,5556.717241,2,18,NaN,6.8750,3.093750
2611,2298,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,3247.916977,5123.759559,5556.717241,2,18,NaN,5.5000,2.475000
2612,2298,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,3247.916977,5123.759559,5556.717241,2,18,NaN,4.1875,1.884375
2613,2298,4,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,3247.916977,5123.759559,5556.717241,2,18,NaN,6.8750,3.093750

How old is the respondent with `caseid` 1?

In [27]:
# Solution goes here
resp[resp.caseid==1].age_r

1069    44
Name: age_r, dtype: int64

What are the pregnancy lengths for the respondent with `caseid` 2298?

In [28]:
# Solution goes here
preg[preg.caseid==2298].prglngth

2610    40
2611    36
2612    30
2613    40
Name: prglngth, dtype: int64

What was the birthweight of the first baby born to the respondent with `caseid` 5012?

In [29]:
# Solution goes here

In [30]:
preg[preg.caseid==5012].basewgt

5515    2335.279149
Name: basewgt, dtype: float64